@font-face {
  font-family: Mont;
  src: url(./fonts/Mont-Regular.woff2);
  font-weight: regular;
  font-display: swap;
}
@font-face {
  font-family: Mont;
  src: url(./fonts/Mont-Light.woff2);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Mont;
  src: url(./fonts/Mont-ExtraLight.woff2);
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: Open Sans;
  src: url(./fonts/OpenSans-Regular.woff2);
  font-weight: regular;
  font-display: swap;
}
@font-face {
  font-family: Open Sans;
  src: url(./fonts/OpenSans-Light.woff2);
  font-weight: 300;
  font-display: swap;
}
body{
  font-family: Open Sans;
  font-weight: 300;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: Mont;
  font-weight: 100;
  margin: 0;
}
p{
  margin: 0;
}
h1{
  font-size: 36px;
  text-transform: uppercase;
}
.container{
  width: 100%;
  margin: auto;
  max-width: 1327px;
  padding: 0 0px;
}
.row{
  display: flex;
}
.column{
  width: 50%;
}
.post__main{
  background: #F8F8F8;
  margin-bottom: 44px;
}
.post__image img{
  width: 100%;
}
.post__info{
  padding-top: 27px;
  padding-bottom: 41px;
  padding-left: 36px;
  padding-right: 37px;
}
.post__info h1 {
  padding-bottom: 16px;
  border-bottom: 1px solid #000;
  margin-bottom: 26px;
}
.post__info .row{
  justify-content: center;
}
.post__info .separator{
  width: 1px;
  background: #000;
  height: 15px;
  margin: 0 13px;
  margin-top: 1px;

}
.post__info .info-item{
  font-family: Mont;
  font-weight: 200;
  display: flex;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height */
  text-transform: uppercase;
  color: #000000;
}
.post__content .row{
  padding: 0 36px;
  justify-content: space-between;
}
.post__content .column{
  width: calc(50% - 20px);
}
.post__content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  padding-bottom: 44px;
}
.post__content h3{
  font-weight: 200;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 18px;
  border-bottom: 1px solid #000;
  margin-bottom: 24px;
  height: 50px;
  display: flex;
  align-items: flex-end;
}
.post__content ul{
  padding-left: 20px;
}
.post__content li{
  padding-left: 0px;
  font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
color: #000000;

}
.announcement{
  margin-top: 44px;
  padding-top: 24px;
  border-top: 1px solid #000;
}
.collections{
  margin-bottom: 50px;
}
.collections .collection{
  background: #F8F8F8;
}
.collection__information {
  height: 450px;
  display: flex;
  padding: 0 45px;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

}
.collection__title{
  padding-bottom: 22px;
  border-bottom: 1px solid #000;
  margin-bottom: 25px;
}
.collection__title h3{
  font-family: Mont;
  font-weight: 200;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.collection__image{
  display: flex;
}
.collection__image img{
  width: 100%;
}
.slide-content .swiper-button-next, .slide-content .swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  position: absolute;
  bottom: 57px;
  top: unset;
  left: 0px;
  transition: all .3s ease;
}
.slide-content .swiper-button-next:hover, .slide-content .swiper-button-prev:hover  {
  background: #444;
  transition: all .3s ease;
}

.slide-content .swiper-button-next{
  left: 45px;
  right: unset;
}
.slide-content .swiper-button-next::after, .slide-content .swiper-button-prev:after{
  display: none;
}
.slide-content .swiper-button-next svg, .slide-content .swiper-button-prev svg{
  fill: #444;
}
.slide-content .swiper-button-next:hover svg, .slide-content .swiper-button-prev:hover svg {
  fill: #fff;
  transition: all .3s ease;
}
.slide-content{
  height: 400px;
}
.slide-content .column{
  font-size: 18px;
}
.swiper-slide .row{
  background: #F8F8F8;
  height: 100%;
}
.swiper-slide .slide-content {
  height: 100%;
  padding-top: 85px;

  width: 35%;
  padding-right: 64px;
  padding-left: 45px;

}
.mySwiper .slide-images{
  width: 65%;

}
.slide-images .row{
  align-items: center;
  justify-content: space-between;
}
.slide-images .slide-image{
  width: calc( 100% / 3 - 7.5px);
}
.slide-images .slide-image img{
  width: 100%;
}
.blog-post-brands__title{
  text-transform: uppercase;
  font-size: 36px;
  line-height: 46px;
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}
.blog-post-brands__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  margin-bottom: 50px;
}
.blog-post-brands__grid .item{
  background: #F8F8F8;
}
.blog-post-brands__grid .item-title{
  padding: 16px 0;
  text-align: center;
  font-size: 24px;
  line-height: 31px;
  font-family: Mont;
  font-weight: 200;
}
.blog-post-contacts{
  margin-bottom: 113px;
}
.blog-post-contacts h3{
  font-family: Mont;
  font-weight: 200;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 24px;
  padding-bottom: 19px;
  border-bottom: 1px solid #000;
}
.blog-post-contacts .row{
  justify-content: space-between;
}
.blog-post-contacts .column{
  width: calc(50% - 15px);
}
.blog-post-contacts__address {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}
.blog-post-contacts__address p{
  margin-bottom: 18px;
}
.blog-post-contacts__phone a{
  display: block;
  color: #000;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.blog-pagination .row{
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  padding: 39px ;
  margin:  0 50px;

}

.blog-pagination-wrap{
  background: #F8F8F8;
  padding-bottom: 40px;
  margin-bottom: 42px;
}
.website-info {
  padding: 23px 30px;
}
.blog-logo{
  width: 123px;
    margin-right: 34px;
}
.blog-logo img{
  width: 100%;
}
.website-info .blog-info{
  font-weight: 300;
font-size: 18px;
line-height: 25px;
}
.website-info .blog-info h4{
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  font-family: Open Sans;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.blog-post-brands__grid .related-item{
  background: none;
}
.related-item .item-title{
  padding: 0;
  text-align: left;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 10px;
}
.related-item .item-date{
  text-transform: uppercase;
  font-family: Mont;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
}
.blog-post-brands__grid .related-item-info{
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 30px;
  padding-top: 25px;
}
.blog-post-brands__grid img{
  width: 100%;
}
.blog-slider .container{
  background: #F8F8F8;
  padding: 30px;
  padding-left: 45px;
  margin-bottom: 50px;
  box-sizing: border-box;
}
.blog-slider .slide-content{
  width: 30%;
  margin-right: 75px;
  padding-top: 55px;
  position: relative;
  box-sizing: border-box;
}
.mySwiper{
  width: 66%;
}
.mySwiper .swiper-pagination{
  display: none;
}
.mySwiper .slide-image{
  display: flex;
}
.mySwiper img{
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .collection__information {
    height: 342px;
  }
  .blog-slider h3{
    font-size: 26px;
    line-height: 30px;
  }
    .blog-slider .row{
      align-items: center;
    }
}
@media screen and (max-width: 992px) {
  .post__info h1{
    font-size: 26px;
    line-height: 30px;
  }
  .post__info .info-item {
    font-size: 14px;
  }

  .post__content h3 {
    font-size: 16px;
    height: 70px;
  }
  .post__content, .post__content li {
    font-size: 14px;
  }
  .collection__title{
    margin-bottom: 12px;
    padding-bottom: 8px;
  }
  .collection__title h3 {
    font-size: 26px;
    line-height: 33px;
  }
  .collection__information{
    font-size: 14px;
  }
  .collection__information {
    height: 242px;
    padding: 0 20px;
  }
  .mySwiper .column {
    font-size: 14px;
}

.slide-content .swiper-button-next, .slide-content .swiper-button-prev {
  bottom: 50px;
}
.swiper-slide .slide-content {
  padding-left: 25px;
  padding-right: 35px;
  padding-top: 55px;
}
.blog-post-brands__title {
  font-size: 26px;
  line-height: 36px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.blog-post-brands__grid .item-title {
  font-size: 18px;
}
.blog-post-brands__grid .related-item-info {
  min-height: 150px;
}
}
@media screen and (max-width: 767px) {
  .blog-slider .container{
    margin-bottom: 0;
  }
  .blog-slider .container{
    background: none;
    padding: 0 15px;
  }
  .slide-content {
    height: auto;
}
  .blog-slider .row{
    flex-direction: column;
  }
  .blog-slider .slide-content {
    width: 100%;
    margin-right: 0;
    padding-top: 0;
}
.mySwiper{
  width: 100%;
}
.mySwiper .swiper-pagination{
  display: block;
}
.slide-content .swiper-button-next, .slide-content .swiper-button-prev {
    display: none;
}
  .container{
    padding: 0 15px;
  }
  .post__main{
    padding: 0;
    margin-bottom: 27px;
  }
  .post__info {
    padding: 20px 13px;
  }
  .post__info h1 {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 11px;
    padding-bottom: 0;
    border: none;
  }
  .post__info .info-item {
    font-size: 14px;
}
.post__info .separator{
  margin: 0 2px;
}
.post__info .author{
  display: none;
}
.post__content .row{
  flex-direction: column;
  padding: 0;
}
.post__content .column{
  width: 100%;
}
.post__content .column:first-child{
  margin-bottom: 39px;
}
.post__content h3 {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 18px;
    margin-bottom: 15px;
    height: auto;
}
.post__content{
  padding-bottom: 23px;
}
.post__content, .post__content li {
    line-height: 19px;
}
.announcement {
  margin-top: 18px;
  padding-top: 16px;

}
.collection{
  flex-direction: column-reverse;
}
.collection .column{
  width: 100%;
}
.collections .container{
  padding: 0;
}
.collection:nth-child(2){
  flex-direction: column;
}
.collection__information {
    height: 198px;
    padding: 34px 15px;
    box-sizing: border-box;
}
.collections {
    margin-bottom: 27px;
}
.mySwiper {
  margin-bottom: 26px;
}
.blog-post-brands__title{
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 17px;
  margin-bottom: 20px;
}
.blog-post-brands__grid{
  grid-template-columns: 1fr;
  grid-row-gap: 14px;
  margin-bottom: 26px;
}
.blog-post-brands__grid .item-title{
  padding: 16px 0;
  font-size: 18px;
  line-height: 23px;
}
.blog-post-contacts{
  padding-top: 26px;
  margin-bottom: 26px;
}
.blog-post-contacts .row {
  flex-direction: column;
}
.blog-post-contacts .column {
  width: 100%;
}
.blog-post-contacts .column:first-child{
  margin-bottom: 18px;
}
.blog-post-contacts h3 {
  padding-bottom: 12px;
  margin-bottom: 15px;
}
.blog-post-contacts__address {
  font-size: 14px;
  line-height: 19px;
}
.blog-post-contacts__phone a {
  font-size: 14px;
  line-height: 19px;
}
.blog-logo {
  width: 65px;
}
.blog-info{
  width: calc(100% - 65px);
}
.website-info .blog-info h4 {
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 5px;
}
.website-info {
  padding: 29px 13px;
}
.website-info .blog-info{
  font-size: 10px;
  line-height: 13px;
}
.blog-pagination .row {
  margin: 0 15px;
  padding: 16px 10px;
  align-items: center;
}
.blog-prev, .blog-next{
  width: 8px;
  height: 14px;
}
.blog-prev img, .blog-next img{
  width: 8px;
  height: 14px;
}
.blog-pagination-wrap {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 14px;
  margin-bottom: 27px;
}
.blog-pagination .center {
  display: flex;
}
.blog-pagination .center img{
  width: 15px;
  height: 15px;
}
.blog-post-brands__title{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 13px;
}
.related-item .image{
  margin-left: -15px;
  margin-right: -15px;
}
.blog-post-brands__grid .related-item-info {
  min-height: auto;
  padding-bottom: 20px;
  padding-top: 0;
}
.related-item-info .item-title{
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 15px;
}
.related-item .item-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.collection__title h3 {
    font-size: 18px;
    line-height: 23px;
}
.collection__description{
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 17px;
}
.swiper-pagination-bullet{
  opacity: .7;
  background: #fff;
  border-radius: 2px;
  width: 23px;
  height: 3px;
  margin-right: 5px;
}
.mySwiper {
    height: 500px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  opacity: 1;
}
}
